/practica 2 reloj .X/nbproject/private/
/led con interrupciones.X/nbproject/private/
/practica 3.X/nbproject/private/
/sexto/practica 3.X/nbproject/private/
/sexto/examen primer parcial .X/nbproject/private/
/sexto/motor .X/nbproject/private/